/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0E4BF1;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #4DA3FF;
  --box2-color: #FFE6AC;
  --box3-color: #E7D1FC;
  --title-icon-color: #fff;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

body.dark {
  --primary-color: #3A3B3C;
  --panel-color: #242526;
  --text-color: #CCC;
  --black-light-color: #CCC;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --box1-color: #3A3B3C;
  --box2-color: #3A3B3C;
  --box3-color: #3A3B3C;
  --title-icon-color: #CCC;
}

.activity {
  display: flex;
  flex-direction: column;
}

.activity .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}

.activity .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3A3B3C;
}

/* Icon Styles */
.uil {
  font-size: 24px;
  color: var(--text-color);
}
