/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #0E4BF1;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

body.dark {
  --primary-color: #3A3B3C;
  --panel-color: #242526;
  --text-color: #CCC;
  --black-light-color: #CCC;
  --border-color: #4D4C4C;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover {
  background: #3A3B3C;
}

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: all 0.5s ease;
}

nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: all 0.5s ease;
  z-index: 10;
}

nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .dash-content {
  padding-top: 50px;
}

/* Media Queries */
@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}

@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}

@media (max-width: 400px) {
  nav {
    width: 0;
  }
  nav.close {
    width: 73px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}
